header nav{
    border:none;
    border:0;
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:.750em;
    font-weight:bold;
    width:100%; /*99.6999%;*/
    
    display:block;
}

header nav ul{
    
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
    
    height:1.875em;
    background-color: #ccc;
}

header nav ul li{
    float:left;
    margin:0;
    padding:0;
    
    display:inline-block;
    height: 1.875em; /*30px;*/
    line-height: 1.875em; /*30px;*/
    width:13%; /* 132px; */
    font-weight: bolder;
    background-color: #ccc;
}

header nav ul li a{
    /*color:#000000;*/
    padding:0;
    font-weight:bold;
    font-size:1.4em;
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-color:#6584D4; 
    border-right-style:solid;
    border-width:1px; 
    
    display:block;
    text-decoration:none;
    margin:0 auto;
    max-width:99%;
    text-align:center;
    line-height:1.875em;
    height:1.875em; 
    color: #406BB6;
}

/*#lidroite{
    float:left;
    padding:0px;
    width: 13%;
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-width:0px; 
}		
nav li a:hover, nav ul li:hover a{
    background-image:url(../img/bg1.jpg);
    background-repeat:repeat-x;
    background-position:top;
    color:#FFFFFF;
    text-decoration:none;
}*/

/* Sub MENU */
header nav li ul.sous_menu{
    background:#333333;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:225px;
    z-index:200;
}

header nav li:hover ul.sous_menu{
    display:block;
}

header nav li ul.sous_menu li {
    background:url('../img/sub_sep.gif') bottom left no-repeat;	
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:225px;
}

header nav li:hover ul.sous_menu li a{
    background:none;
}

header nav li ul.sous_menu a{
    display:block;
    height:1.875em; 
    /*font-size:.750em;*/
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}

header nav li ul.sous_menu a:hover, nav li ul.sous_menu li:hover a{
    background:#6057F1;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}

header nav p{
    clear:left;
}

