nav{
    border:none;
    border:0;
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:.750em;
    font-weight:bold;
    width:100%; /*99.6999%;*/
}

nav ul{
    height:38px;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}

nav li{
    float:left;
    margin:0;
    padding:0;
    width: 16.6666666667%;
}

nav li a{
    color:#000000;
    display:block;
    line-height:38px;
    margin:0;
    padding:0;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    font-size:1.4em;
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-color:#6584D4; 
    border-right-style:solid;
    border-width:1px; 
}

#lidroite{
    float:left;
    padding:0px;
    width: 16.6666666677%;
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-width:0px; 
}		
nav li a:hover, nav ul li:hover a{
    background-image:url(../img/bg1.jpg);
    background-repeat:repeat-x;
    background-position:top;
    color:#FFFFFF;
    text-decoration:none;
}

/* Sub MENU */
nav li ul.sous_menu{
    background:#333333;
    display:none;
    height:auto;
    padding:0px;
    margin:0px;
    border:0px;
    position:absolute;
    width:225px;
    z-index:200;
}

nav li:hover ul.sous_menu{
    display:block;
}

nav li ul.sous_menu li {
    background:url('../img/sub_sep.gif') bottom left no-repeat;	
    display:block;
    float:none;
    margin:0px;
    padding:0px;
    width:225px;
}

nav li:hover ul.sous_menu li a{
    background:none;
}

nav li ul.sous_menu a{
    display:block;
    height:38px;
    /*font-size:.750em;*/
    font-style:normal;
    margin:0px;
    padding:0px 10px 0px 15px;
    text-align:left;
}

nav li ul.sous_menu a:hover, nav li ul.sous_menu li:hover a{
    background:#6057F1;
    border:0px;
    color:#ffffff;
    text-decoration:none;
}

nav p{
    clear:left;
}

