nav{
    border:none;
    border:0;
    margin:0;
    padding:0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size:.750em;
    font-weight:bold;
    width:100%; /*99.6999%;*/
}

nav ul{
    height:38px;
    width:100%;
    list-style:none;
    margin:0;
    padding:0;
}

nav li{
    float:left;
    margin:0;
    padding:0;
    width: 16.6666666667%;
}

nav li a{
    color:white; /*#000000;*/
    display:block;
    line-height:38px;
    margin:0;
    padding:0;
    font-weight:bold;
    text-align:center;
    text-decoration:none;
    font-size:1.4em;
    background-image:url(../img/bg3.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-color:#000000; 
    border-right-style:solid;
    border-width:1px; 
}

#lidroite{
    float:left;
    padding:0px;
    width: 16.6666666677%;
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    border-width:0px; 
}		
nav li a:hover, nav ul li:hover a{
    background-image:url(../img/bg2.jpg);
    background-repeat:repeat-x;
    background-position:top;
    color:#CF212A;  /*#FFFFFF;*/
    text-decoration:none;
}


nav p{
    clear:left;
}