/* Styles pour le site CLIENT TEMPOGYM Jette  */
/* 20150631 Version Responsive  @iNani */

/* Adaptation % for responsiveness */
/* Résolution idéale : 955px 
        Police : 16px
*/

/* 
colors:
#C96660 rouge; #FE6B6B
#BBC6CA bleu clair
#A7D4DA bleu peps (turquoise)
#7094AC bleu pluie d'été; #4B7EA7
#31657A bleu foncé emeraude 
#528191 bleu moyen emeraude 
#EAE3D9 sable blanc 
#F3F3E9 blanc perle
footer bleu : #72BBE8
jaune: #FDF465
*/

/* ss Sections
#news
#about
#dates
#galery
#contact
#docs
*/


body{
    width: 100%; 
    margin:0 auto;
    padding: 0;
    font-size: 1em; 
    font-family: Arial;
    /*color: #202D44; */
}

/* BANNER */
header figure{
    margin:0 auto;
    padding:0;
}
/* MENU *//*
header nav{
    display:block;
}
header nav ul{
    list-style-type:none;
    padding: 0;
    margin: 0;
    width: 100%; 
    height:1.875em; 
    background-color: #ccc;
}
header nav ul li{
    display:inline-block;
    height: 1.875em; 
    line-height: 1.875em; 
    width:13%; 
    font-weight: bolder;
    background-color: #ccc;
}
header nav ul li a{
    display:block;
    text-decoration: none;
    margin:0 auto;
    max-width:99%; 
    text-align:center;
    line-height:1.875em; 
    height:1.875em; 
    font-family: Arial;
    color: #406BB6;
}
header nav ul li a:hover{
    background-color: #7094AC;
    color: white;
}*/

/* SECTION MAIN */
#main section{
    width: 100%; /*955px;*/
    /*background-color: white; 
    border: 1px solid #7CB2D3;*/
}
#main h1{
    /*background-color: #4B7EA7;
    color: white;*/
    margin:0;
    font-size:1.500em; /*24px;*/
    padding:.5em 0;
    text-align: center;
}

/* SS SECTION NEWS */
#main section#news, 
#main section#about, 
#main section#dates,
#main section#galery,
#main section#contact, 
#main section#docs
{
    padding: .95em 0;
}
#news article, 
#about article, 
#dates article,
#galery article, 
#contact article, 
#docs article
{
    margin:0 .5em .5em .5em;
    /*border: 1px solid #F8BB61;*/ /* jaune */
}
#news article.right{
    margin:.5em;
    /*border: 1px solid #FE6B6B;*/ /* rouge */
}
#news article h2, 
#about article h2, 
#dates article h2, 
#galery article h2, 
#contact article h2, 
#docs article h2{
    /*background-color: #F8BB61;*/ /* jaune */ 
    /*color: white;*/
    font-size:1.125em; 
    text-align: center;
    margin:0;
    padding:.5em 0;
}
#contact article h3, 
#about article h3
{
    /*background-color: #95B0CF;*/ /* bleu */ 
    /*color: white;*/
    font-size:.938em;
    text-align: center;
    margin:0;
    padding:.5em 0;
}
/*#news article.right h2{
    background-color: #FE6B6B; *//* rouge */
/*}*/

#news article p,
#about article p,  
#dates article p,  
#galery article p,  
#contact article p,  
#docs article p
{
    padding: 0 .5em;
}

/* SS SECTION CALENDAR */
#calendar figure{
    text-align:center;
    margin:0;
}
#calendar figure img{
    max-width:500px;
    width:100%;
}

/* SS SECTION LIENS */
#liens article h2{
    text-align:center;
    font-size: 1.2em;
    margin:0;
}
#liens article ul.ssnav {
    text-align: center;
    list-style-type:none;
}
#liens article ul.ssnav li a{
    text-decoration: none;
    /*color: #406BB6;*/
}
#liens article ul.ssnav li a:hover{
    text-decoration: underline;
    /*color: #202D44;*/
}

/* SS SECTION DATES */
#dates img.dim{
    width:80%;
}
#dates p.dim{
    text-align:center;
}
/* -> temp */
pre{
    margin:3em 7em;
    border: 1px solid black;
}
/* <- temp */

/* SS SECTION DOCS */
#docs img.word{
    width:80%;
}
#docs p.word{
    text-align:center;
}
#docs img.w_ico{
    width:3%;
}
#docs table.tenue,#docs table.cotisation, #dates table.lieux{
    width: 100%;
}
#docs table.tenue th, #docs table.cotisation td{
    width: 24%;
}
#dates table.lieux th{
    width: 32%;
}
/*#docs table.tenue th, #docs table.tenue td{
    border:1px solid #FECC3E;
}*/
#docs table.tenue td, #docs table.cotisation td, #dates table.lieux td{
    text-align:center;
}

/* SS SECTION GALERY */
img.jo{
    width:100%;
}
/* FORMULAIRE de connexion */
p.adminmedia{
    text-align:center;
}
button.adminmedia {
    margin: auto;
    font-family: "Courier New",Courier,monospace;
    font-size: 1em;
    color: #4682B4;
    padding: .7em;
    border: 1px solid #B0C4DE;
    border-radius: 1em;	


}
button.adminmedia:hover{
    background-color:LightSlateGray;
    color:LightCyan;
    border:1px LightSlateGray solid;
}

input{
    font-family: 'Cuprum', sans-serif;
    font-size:16px;	
    color:SteelBlue;
}

/* bouton centré */
input[type="submit"]{
    clear:both;
    display:block;
    margin-left:auto;
    margin-right:auto;
    font-family:"Courier New", Courier, monospace;
    font-size:1em;
    padding:7px 20px;
    border:1px LightSteelBlue solid;
    border-radius:5px;
}
input[type="submit"]:hover{
    border:1px LightSlateGray solid;
    background-color:LightSlateGray;
    color:LightCyan;
}
#connexion  input{
    display:block;
    margin:1em auto;
    padding:.7em;
    border:1px LightSteelBlue solid;
    border-radius:1em;
}

/* FOOTER */
footer{
    /*background-color: #7CB2D3;*/ /*#72BBE8; */
    text-align:center;
    padding:.2em;
}
img.sponsor{
    max-height:100px;
    margin:.5em;
}
footer p{
    font-size:.75em;
    margin:.5em;
   /* color: #406BB6;*/
}



/* Additional Styles for responsiveness */
#responsive_banner {
    width: 80%;
}
#responsive_logo {
    width: 20%;
    float:left;
}


/* MEDIA QUERIES */ 
/* 3 eme taille en partant de la plus petite, format tablette horizontale'*/
@media screen and (min-width:801px) {
    header nav select{
        display:none;
    }
    #calendar{
        width:100%;
    }
    #docs table.tenue_resp{
        display:none;
        
    }
    

}

@media screen and (min-width:960px){
    header nav {
        width:20%;
        float:left;
    }
    header nav ul {
        background-color: white; 
        height:auto;
    }
    header nav ul li {
        width:95%;
        border: 1px solid white;
        background-color: #4B7EA7;
    }
    header nav ul li a{
        display:block;
        width:100%;
        color: white;
    }	

    header nav ul li a:hover {
        color: #406BB6;
        background-color: #AEC9EC;
    }	
    section {
        width:80%;
        float:left;
    }
    #calendar{
        width:100%;
    }
}

@media screen and (max-width:800px) {
    header nav ul {
        display:none;
    }
    header nav select {
        display:block;
        width:100%;
        margin: 0 auto;
        font-size:1em;
        background-color: #406BB6;
        color:white;
    }
    header nav select option.selected{
        font-style: italic;
        color: lightblue;
    }
    #calendar{
        width:100%;
    }
    footer img.sponsor{
        max-height:50px;
    }
    #dates img.dim, #docs img.word{
        width:85%;
    }
    #docs img.w_ico{
        width:4%;
    }
    #docs table.tenue_resp{
        display:none;
    }
}

@media screen and (max-width:480px) {
    #responsive_banner {
        display:none;
    }
    #responsive_logo {
        display:block;
        width:100%;
    }	
    header nav select{
        clear:left;
    }
    #main h1{
        display:none;
    }
    #liens{
        display:none;
    }
    footer img.sponsor{
        max-height:20px;
    }
    #calendar{
        display:none;
    }
    #dates img.dim, #docs img.word{
        width:100%;
    }
    #docs img.w_ico{
        width:8%;
    }
    #docs table.tenue{
        display:none;
    }
    #docs table.tenue_resp{
        display:block;
    }
    #docs table.tenue_resp th, #docs table.tenue_resp td{
        border:1px solid #FECC3E;
    }
    #docs table.tenue_resp th{
        text-align:left;
    }
    #contact p {
        margin: 2px 0;
    }
    #contact span.none, #docs span.none{
        display:none;
    }
}



